
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-horizontal">
    <hr />
    <input type="button" value="Get patients" onclick="getData()">
    <hr />
    <span id="tblContainer" class="table-responsive"></span>
</div>
<div>
    @Html.ActionLink("Add Patient", "Add", "Patient")
</div>

}